<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <a href="{{ path('Home', {'year': year, 'month': month - 1}) }}">Mois précédent</a>
    <a href="{{ path('Home', {'year': year, 'month': month + 1}) }}">Mois suivant</a>

    <table>
      <thead>
        <tr>
          <th>Lun</th>
          <th>Mar</th>
          <th>Mer</th>
          <th>Jeu</th>
          <th>Ven</th>
          <th>Sam</th>
          <th>Dim</th>
        </tr>
      </thead>
      <tbody>
        {% for week in weeks %}
          <tr>
            {% for day in week %}
              <td><a href="{{ path('Game', { 'selected_day': day.format('Y-m-d') }) }}">{{ day.format('d') }}</a></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>